nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') #Cloud
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li(style="cursor: pointer;"): a(src="" ng-click="login()"): i.glyphicon.glyphicon-log-in &nbsp;Login
        li(style="cursor: pointer;"): a(src="" ng-click="logout()"): i.glyphicon.glyphicon-log-out &nbsp;Logout
