h1.text-center #Cloud

form
  .input-group
    input.form-control(placeholder="List of #words")
    .input-group-btn
      button.btn.btn-default(type="submit") Go

.well
  #tags.clearfix
    .tag(style="font-size: 40px") #Angularjs
    .tag(style="font-size: 20px") #Emberjs
    .tag(style="font-size: 80px") #JavaScript
    .tag(style="font-size: 10px") #Reactjs
    .tag(style="font-size: 10px") #Backbone
    .tag(style="font-size: 20px") #MeanStack
    .tag(style="font-size: 25px") #Nodejs
    .tag(style="font-size: 15px") #Mongodb
    .tag(style="font-size: 5px") #Expressjs
