.tags-controller(ng-controller="MainCtrl")

  h1.text-center #Cloud

  form(ng-submit="search()")
    .input-group
      input.form-control(placeholder="List of #words" ng-model="words")
      .input-group-btn
        button.btn.btn-default(type="submit") Go

  .well
    #tags.clearfix
      .tag(ng-repeat="(tag, size) in tags" style="font-size: {{size}}px") {{tag}}
